/* Receteo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  scroll-snap-type: y proximity;
}

/* Barra de navegacion */
.navbar .navbar-expand-lg bg-light {
  justify-content: center;
}

.logito {
  height: 36px;
}

/* Carousel */
.carousel .carousel-item {
  scroll-snap-align: center;
  height: 93.9vh;
  width: 100%;
}
.carousel .carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 100%;
}
.carousel .carousel-item h1.display-1.fw-bolder.text-capitalize.text-white {
  text-shadow: 0 0 5px #000;
  font-size: 6rem;
}

@media (max-width: 485px) {
  h1.display-1.fw-bolder.text-capitalize.text-white {
    text-shadow: 0 0 5px #000;
    font-size: 4rem;
  }
}
@media (max-width: 1346px) {
  h1.display-1.fw-bolder.text-capitalize.text-white {
    top: 0;
    text-shadow: 0 0 5px #000;
    font-size: 4rem;
  }
}
/* Cartas productos*/
.contenedor {
  scroll-snap-align: center;
  background: url(../image/fondo.avif) center;
  background-size: cover;
  backdrop-filter: blur(4px);
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-evenly;
  padding: 0 300px;
  justify-items: center;
  align-items: center;
  height: 100vh;
  position: relative;
}
.contenedor::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  background: rgba(255, 0, 0, 0);
  backdrop-filter: blur(4px);
}

.carta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  cursor: default;
  transition: all 400ms ease;
}
.carta:hover {
  box-shadow: 5px 5px 20px gray;
  transform: translateY(-3%);
}
.carta img {
  width: 100%;
  height: 210px;
  object-fit: contain;
}
.carta .contenido h3 {
  padding: 15px;
  text-align: center;
}
.carta .contenido a {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 369px) {
  .carta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
/* Grid Entretenimiento*/
.container-grid {
  padding: 5px;
  gap: 5px;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.container-grid img {
  width: 50%;
  height: 250px;
}
.container-grid .TV {
  background-color: rgb(0, 0, 0);
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container-grid h2 {
  color: #dfd3d3;
  justify-content: center;
  margin: 20px;
}
.container-grid a {
  text-decoration: none;
  color: #3280b4;
}
.container-grid .book {
  margin-top: 8px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container-grid .Music {
  display: inline-block;
  background-color: #000000;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container-grid .Music img {
  width: 50%;
  height: 250px;
}

.entretenimiento {
  text-align: center;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.entretenimiento img {
  margin: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.entretenimiento h3 {
  font-size: 50px;
  flex-direction: row;
}

@media screen and (max-width: 1297px) {
  .container-grid img {
    width: 50%;
    height: 30%;
    object-fit: contain;
  }
  .entretenimiento img {
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
@media screen and (max-width: 769px) {
  .container-grid img {
    width: 60%;
    height: 30%;
    object-fit: contain;
  }
}
@media screen and (max-width: 705px) {
  .container-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .entretenimiento img {
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}
/* Footer */
footer {
  margin: 25px 0;
  width: 100%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
footer div ul {
  padding-left: 0;
}
footer div ul li {
  display: inline-block;
  padding: 7px;
}
footer div ul li a {
  color: #000;
  text-decoration: none;
}
footer div ul li a:hover {
  color: #000;
  text-decoration: none;
}
footer div ul li img {
  width: 30px;
  height: 30px;
}

/* soporte imgagenes y titulo */
.titulo h1 {
  margin-top: 20px;
  font-size: 64px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
}

.soporte-grid {
  gap: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.soporte-grid img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

@media (max-width: 651px) {
  .soporte-grid img {
    width: 10vw;
  }
}
@media (max-width: 505px) {
  .soporte-grid {
    align-items: center;
  }
  .soporte-grid img {
    width: 60px;
  }
}
@media (max-width: 469px) {
  .soporte-grid {
    align-items: center;
  }
  .soporte-grid img {
    width: 44px;
  }
}
/* Collage imagenes */
.about-container {
  display: grid;
  height: 50vh;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.about-container div {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  grid-row: span 2;
  border: 5px solid white;
}
.about-container div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-container .img-2 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.about-container .img-3 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.about-container .img-6 {
  grid-column: 2/4;
  grid-row: 2/4;
}

/* Cartas soporte */
.card {
  margin-top: 70px;
  box-shadow: 0 0 3px rgb(104, 102, 102);
  border-radius: 20px;
  transition: scale 0.2s;
}
.card:hover {
  scale: 1.1;
}

.sopport-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.sopport-cards .soport-card {
  margin-top: 70px;
  width: 300px;
  height: 14vh;
  background-color: #ffffff;
  box-shadow: 0 0 5px black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: scale 0.2s;
}
.sopport-cards .soport-card:hover {
  scale: 1.1;
}
.sopport-cards .soport-card img {
  height: 60%;
  object-fit: contain;
}
.sopport-cards .soport-card h2 {
  font-size: 15px;
}

@media (max-width: 977px) {
  .sopport-cards {
    margin: 10px;
  }
}
@media (max-width: 792px) {
  h2 {
    text-align: center;
  }
}
@media (max-width: 525px) {
  .sopport-cards img {
    width: 20vw;
  }
}
@media (max-width: 505px) {
  .sopport-cards {
    flex-direction: column;
    gap: 0;
  }
}
/* Explicacion */
.explicacion-1 {
  margin-top: 15px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explicacion-1 ul li {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.explicacion-1 .steve {
  box-shadow: #fdfdfd;
  margin-top: 30px;
  width: 40vw;
}

.opc ul {
  margin-top: 20px;
}

@media (max-width: 920px) {
  .explicacion-1 ul li {
    text-align: center;
  }
  .explicacion-1 .steve {
    width: 50vw;
  }
}
@media (max-width: 378px) {
  .explicacion-1 ul li {
    font-size: 18px;
    text-align: center;
  }
  .explicacion-1 .steve {
    width: 80vw;
  }
}
/* Obtener soporte */
.caja {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.534);
  background-color: rgba(216, 2, 2, 0);
  height: 30vh;
  margin: 100px;
}
.caja .boton {
  margin-top: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caja h3 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.caja .button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(90, 81, 81, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.caja .button:hover {
  background-color: #111309;
  box-shadow: 0px 15px 20px rgba(101, 110, 107, 0.4);
  color: #ffffff;
  transform: translateY(-7px);
}

@media (max-width: 752px) {
  .caja {
    margin-top: 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 552px) {
  h3 {
    text-align: center;
  }
}
@media (max-width: 481px) {
  p {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .caja {
    margin: 0;
    height: 35vh;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .caja h3 {
    font-size: 30px;
  }
}
/* Iphone */
.contenedor-iphone {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-iphone img {
  margin-top: 60px;
  width: 50vw;
}
.contenedor-iphone h1 {
  font-size: 100px;
}

@media (max-width: 1122px) {
  .contenedor-iphone img {
    width: 70vw;
    align-items: center;
  }
  .contenedor-iphone h1 {
    font-size: 90px;
  }
}
@media (max-width: 789px) {
  h1 {
    text-align: center;
    font-size: 100px;
  }
}
@media (max-width: 451px) {
  .contenedor-iphone h1 {
    text-align: center;
    font-size: 80px;
  }
  .contenedor-iphone img {
    width: 90vw;
    align-items: center;
  }
}
/* Grid iphone */
.grid-iphone {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(1, max-content);
  gap: 5px;
}
.grid-iphone img {
  width: 50%;
  height: 70%;
  object-fit: contain;
}
.grid-iphone .iphone {
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.grid-iphone .iphone .img {
  transform: rotateY(180deg);
  width: 40%;
  height: 100%;
  object-position: bottom;
}
.grid-iphone .contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
}
.grid-iphone .contenido img {
  width: 40%;
  height: 60%;
}
.grid-iphone .contenido .gif {
  width: 60%;
}
.grid-iphone h2 {
  font-size: 60px;
}
.grid-iphone p {
  text-align: center;
  font-size: 15px;
}

@media (max-width: 1551px) {
  .contenido p {
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 792px) {
  .contenido h2 {
    font-size: 45px;
  }
  .contenido p {
    text-align: center;
    font-size: 15px;
  }
  .grid-iphone .iphone h2 {
    font-size: 45px;
  }
  .grid-iphone .iphone .img {
    width: 50%;
    height: 100%;
  }
}
@media (max-width: 701px) {
  .grid-iphone {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .grid-iphone:nth-child(4) .iphone {
    grid-row: 1;
  }
  .grid-iphone:nth-child(4) .img {
    grid-row: 2;
  }
}
/* Scroll Horizontal */
.marquee {
  margin-top: 25px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: max-content;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.534);
  padding: 10px 0;
}

.marquee img {
  height: 200px;
  object-fit: contain;
}

.marquee span {
  display: inline-block;
}

.move {
  animation: marquee 10s linear infinite;
  display: flex;
  gap: 30px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-1550px);
  }
}

/*# sourceMappingURL=styles.scss.map */
