


.marquee {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 50vh;
  }
  .marquee img{
    width: 10vw;
    object-fit: cover;
  }
  .marquee span {
    display: inline-block;
    padding-right: 50px;
    animation: marquee 9s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(20%);
    }
    to {
      transform: translateX(-600%);
    }
  }
.marquee .img-1{
  width: 10vw;
}
.marquee .img-2{
  width: 8vw;
}
.marquee .img-3{
  width: 12vw;
}