


.marquee {
  margin-top: 25px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: max-content;
    box-shadow:  0 0 3px rgba(0, 0, 0, 0.534);
    padding: 10px 0;
  }
  .marquee img{
    
    height: 200px;
    object-fit: contain;
  }
  .marquee span {
    display: inline-block;
  
    
  }
  .move{
    animation: marquee 10s linear infinite ;
    display: flex;
    gap: 30px;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-1550px);
    }
  }
