
  .explicacion-1 {
    margin-top: 15px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
    ul li {
      font-size: 20px;
      list-style-type: none;
      display: flex;
      justify-content: center;
    }
    .steve {
       box-shadow: #fdfdfd;
       margin-top: 30px;
       width: 40vw;
     }
  }
  .opc ul {
    margin-top: 20px;
  }
  
@media(max-width: 920px){
  .explicacion-1 {
    ul li {
      text-align: center;
    }
    .steve {
      width: 50vw;
    }
  }
}
@media(max-width: 378px){
  .explicacion-1 {
    ul li {
      font-size: 18px;
      text-align: center;
    }
    .steve {
      width: 80vw;
    }
  }
}
@media(max-width: 414px){
  .explicacion-1 {
  .steve {
    width: 90vw;
  }
  }
}