.container-grid {
    padding: 8px;
    width: 99vw;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 600px);
  }
  
  .container-grid img {
    width: 50%;
    height: 250px;
  }
  
  .container-grid .TV {
    background-color: rgb(0, 0, 0);
    grid-column: 1;
    grid-row: 1;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-grid h2 {
    color: #dfd3d3;
    justify-content: center;
    margin: 20px;
  }
  .container-grid a {
    text-decoration: none;
    color: #3280b4;
  }
  
  .container-grid .book {
    margin-top: 8px;
    background-color: rgb(0, 0, 0);
    grid-column: 1;
    grid-row: 2;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-grid .Music {
    margin-left: 8px;
    margin-top: 8px;
    grid-column: 2;
    grid-row: 2;
    display: inline-block;
    text-align: center;
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-grid .Music img {
    width: 42%;
    height: 250px;
  }
  .entretenimiento {
    display: inline;
    text-align: center;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .entretenimiento img {
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .container-grid .entretenimiento h3 {
    font-size: 50px;
    flex-direction: row;
  }