footer {
    margin: 15px 0;
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
   
    
  }
  footer div ul li {
    display: inline-block;
    padding: 7px;
  }
  footer div ul li a {
    color: #000;
    text-decoration: none;
  }
  footer div ul li a:hover {
    color: #000;
    text-decoration: none;
  }
  footer div ul li img {
    width: 30px;
    height: 30px;
  }